h1 {
     font: Arial;     
     color: green;     
     background: black } 


#container {
     margin: auto;       
     width: 50%;     
     align-content: center;     
     align-items: center;     
     text-align: center;     
     justify-content: center; }

#root {         
	text-align: left;     
	padding-left: 8px; }

#text-container{     
	width:80%;    
	margin: auto;   }

#button-container{     
	text-align: left;     
	width: auto; }

#reset{     
	text-align: right;     
	width: auto;     
	margin-left: auto;     
	margin-top: auto; }